<div class="demo-container">
  <jqxInput 
  #myInput 
  theme ="material"
  (onSelect)="myInputOnSelect($event)"
  (onChange)="Change($event)"
  [width]="200" 
  [height]="25" 
  [source]="dataAdapter"
  [placeHolder]="'Contact Name:'"
  [valueMember]="'CompanyName'"
  [displayMember]="'ContactName'">
</jqxInput>

<br><br>

<jqxDropDownList 
    #myDropDownList
    theme ="material"
    style="float: left; margin-top: 10px"
    (onSelect)="listOnSelect($event)" 
    (onUnselect)="listOnUnselect($event)"
    [valueMember]="'CompanyName'"
    [displayMember]="'ContactName'" 
    [width]="200" 
    [height]="30" 
    [source]="dataAdapter" 
    [selectedIndex]="0">
</jqxDropDownList>
</div>
